<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.braggingrights">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BraggingRights">
        <activity
            android:name=".SelectAvatar"
            android:exported="false" />
        <activity
            android:name=".LiveGameActivity"
            android:exported="false" />
        <activity
            android:name=".CreateLocalPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".CreateGameActivity"
            android:exported="false" />
        <activity
            android:name=".CreateGameSelectPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".AddNewGameTemplate"
            android:exported="false" />
        <activity
            android:name=".ViewStatsByPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".ViewStatsByGameActivity"
            android:exported="false" />
        <activity
            android:name=".StatisticsMainActivity"
            android:exported="false" />
        <activity
            android:name=".DiceActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>